{% extends "index.html" %}

{% set images = ["hero.png", "1.png", "2.jpg", "3.gif", "4.jpg"] %}
{% set path = page.path | default(value="/") %}
{% set hash = 0 %}
{% for char in path %}
  {% set hash = hash + char | length %}
{% endfor %}
{% set image_index = hash % (images | length) %}
{% set selected_image = images[image_index] %}

{% block extra_head %}
{{ super() }}
<style>
.masthead {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), 
                      url("{{ get_url(path="assets/img/" ~ selected_image) }}") !important;
}
</style>
{% endblock extra_head %}

{% block about %}
<section class="about-section" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-10">
                {% if page %}
                    <article class="text-white-50">
                        <h1 class="text-white mb-4">{{ page.title }}</h1>
                        {% include "partials/share-widget.html" %}
                        {{ page.content | safe }}
                    </article>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock about %}

{% block projects %}{% endblock projects %}
{% block signup %}{% endblock signup %}

